body {
    padding-top: 50px;
}

img {
    width: 100%;
    height: 450px;
    border-radius: 6px;
}

.footer {
    margin-top: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    text-align: center;
}